@keyframes slidein {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

article {
  width: 80%;
  margin: auto;
  background: lightblue;
  padding: 20px;
  
}

@media (max-width: 600px) {
  article {
    animation-duration: 1s;
  }
}

@media (min-width: 1200px) {
  article {
    animation-duration: 3s;
  }
}

article#short-about {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;

  width: 70vw;

  border-radius: 50px;
  border-left: none;
  border-right: none;

  background-color: #edf2f4;
  overflow: hidden;
  position: relative;
}

article#short-about div.image-section {
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vw;
  width: 100vw;
}

article#short-about p {
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #1d3557;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

form#search-bar {
  width: 20vw;
  height: 5vw;
  margin: 0 auto;
}
