body{
  background-image: url("../Images/MörbySilhoutteAI.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;

  overflow-x: hidden;
}


table#danderyd-activity {
  width: 80vw;
  margin: 10vw;
  border-collapse: collapse;
}

table#danderyd-activity th {
  background-color: #b0e0e6;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

table#danderyd-activity td {
  border: 1px solid black;
  text-align: left;
  padding: 10px;
}

table#danderyd-activity tr:nth-child(even) {
  background-color: #f0f0f0;
}

table#danderyd-activity tr:nth-child(odd) {
  background-color: white;
}

tr:last-child {
  font-weight: bold;
  border-top: 2px solid black;
}