body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0;

  overflow-y: show;
  overflow-x: hidden;

 
}

article#article-bulletpoint {
  background: linear-gradient(to right, #f0f0f0, #fff); 

  width: 60vw;
  border: 2px solid #333;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  box-shadow: 5px 5px 10px #999;
  margin: 40px;
  padding: 30px;
  transition: transform 0.3s; 
}

article#article-bulletpoint:hover {
  transform: scale(1.1);
}

h1 {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 36px;
  text-align: center;
}

p {
  color: #666;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

h2 {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 24px;
}

ul {
  list-style-type: none;
}

li {
  color: #666;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

li:before {
  content: "\2022";
  color: hsl(0,100%,50%); 
  animation: change-colors infinite; 
}

@keyframes change-colors {
    from {color:hsl(0,100%,50%);}
    to {color:hsl(360,100%,50%);}
}




#contact-form {
  width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

#contact-form h2 {
  text-align: center;
  color: #333;
}

.form-field {
  margin: 20px 0;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
}

.form-field input,
.form-field textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
}

.form-field input[type="submit"] {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}


div#addional-help h2 {
  color: #333;
  margin-top: 20px;
}

div#addional-help p {
  color: #666;
  line-height: 1.5;
}

div#addional-help ul {
  list-style-type: none;
  padding-left: 0;
}

div#addional-help li {
  margin: 10px 0;
}

div#addional-help li:before {
  content: "•";
  color: #f00;
  margin-right: 10px;
}

div#eyecandy-row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  z-index: 1;
}

div#eyecandy-row img, iframe {
  height: 20vw;
  width: 20vw;

  overflow: hidden;
  margin-top: 5vw;
}
