body{
  background-image: url("./Images/nora-0.jpg") no-repeat center fixed;
}


article#danderyd-ad-text{
    display: flex;
    flex-direction: column;
    justify-items: center;
    overflow: hidden;
    width: 100vw;
    height: auto;
    margin-top: 2rem 0;
    text-align: center;
    
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);

    background: linear-gradient(to right, #EDF2F4, #8E9EAB);
}

div#row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    z-index: 1;
}

div.image-section img {
  height: 40vw;
  width: 100vw;
  overflow: hidden;
  margin-top: 5vw;
}

div.speaking-bubble {
  height: auto;
  top: 50%;
  width: 40vw;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  display: block;
  text-align: left;

  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.7),
    10px 10px 0px rgba(29, 53, 87, 0.7), 15px 15px 4px rgba(0, 0, 0, 0.7);
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

div.speaking-bubble-right {
  float: right;
  text-align: right;
  margin-right: 20px;
  margin-top: 20px;
}

div.speaking-bubble-left {
  float: left;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

div.speaking-bubble-center {
  text-align: center;
  margin: 20px;
  margin-top: 20px;
  width: 35vw;
  border-radius: 25px;
}

div.speaking-bubble h2 {
  font-size: 2vw;
  margin: 0;
}

div.speaking-bubble p {
  font-size: 1.5vw;
  margin: 0;
}

div.speaking-bubble p:last-child {
  margin-bottom: 0;
}

div.speaking-bubble p:first-child {
  margin-top: 0;
}
section {
  margin: 20px;
}

.hero-image {
  background-image: url("../Images/nora-0.jpg") ;

  height: 50vw;
  width: 80vw;
  overflow: hidden;

  clip-path: polygon(0% 0%, 100% 0%, 100% 72.5%, 0% 100%);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  background-color: rgba(29, 53, 87, 0.85);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}


